.ambassador {
  position: relative;
  margin-left: 30px;
  margin-bottom: 60px;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFF;
    border-radius: @button-border-radius;
  }

  figure {
    position: relative;
    z-index: 5;
    padding: 30px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 2px solid @color-blue;
      border-radius: @button-border-radius;
      transform: rotate(-0.5deg);
    }
  }

  img {
    margin-bottom: 30px;
  }

  figcaption {
    text-align: left;

    p:last-child {
      margin-bottom: 0;
    }

  }

  &--second {
    margin-left: 0;
    margin-right: 30px;

    &::before {
      transform: rotate(1deg);
    }

    figure::before {
      transform: rotate(0.5deg);
    }

  }

}