.block-dots() {
  background-image: url(../images/teaser-dots.svg);
  background-size: 61px 93px;
}

.block__image-bordered {
  &:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 1px;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;

    transform: rotate(-2deg);
  }
}

.block {
  position: relative;
  z-index: 5;

  &--yellow {
    .block-dots();
    background-color: @color-yellow;
    margin-top: -10px;
  }
  &--yellow-light {
    .block-dots();
    background-color: @yellow-block-light-background;
    margin-top: -10px;
  }

  &--blue {
    .block-dots();
    background-color: @color-light-blue;
  }

  &--large {
    padding-top: 60px;
    //padding-bottom: 60px;
  }

  &--xlarge {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  &--small {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--striped-blue {
    padding: @block-padding 0;
    margin-bottom: 60px;
    background: repeating-linear-gradient(
            -45deg,
            lighten(@color-light-blue-semi, 5%),
            lighten(@color-light-blue-semi, 5%) 10px,
            @color-light-blue-semi 10px,
            @color-light-blue-semi 40px
    );
  }

  &--striped-yellow {
    padding: @block-padding 0;
    margin-bottom: 60px;
    background: repeating-linear-gradient(
            -45deg,
            lighten(@yellow-block-light-background, 5%),
            lighten(@yellow-block-light-background, 5%) 10px,
            @yellow-block-light-background 10px,
            @yellow-block-light-background 40px
    );
  }

  &--homepage {
    padding-top: @block-padding;
    //padding-bottom: @block-padding;

    margin-top: -10px;
    margin-bottom: 100px;

    .block-dots();
    background-color:@yellow-block-light-background;

    .block__content {
      margin-bottom: 20px;

      @media (min-width: @screen-desktop) {
        width: 525px;
      }
    }

    .block__image {
      text-align: center;

      @media (min-width: @screen-desktop) {
        position: absolute;
        right: 0;
        top: -@block-padding - 15px;
      }

    }

  }

  &--projects {
    padding-top: @block-padding;
    padding-bottom: @block-padding;
    text-align: left;

    .block-dots();
    background-color: @color-light-blue;

    .block__image {
      display: none;
    }

    @media (min-width: @screen-tablet) {
      .block__image {
        display: block;
        position: absolute;
        top: -30px;
        margin-bottom: 30px;
        transform: rotate(-6deg);
      }

      .block__content {
        width: calc(~"100% - 215px");
        margin-left: 215px;
      }
    }

  }

  &--stories {
    padding-top: 55px;
    padding-bottom: 55px;

    .block-dots();
    background-color: @color-light-orange;

    .block__image {
      display: none;

      @media (min-width: @screen-tablet) {
        display: block;
        position: absolute;
      }

      &--left {
        top: 140px;
        left: -320px;
      }

      &--right {
        bottom: -140px;
        right: -400px;
      }

    }

  }

  &--white {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &--ambassadors {
    padding-top: 55px;
    margin-bottom: 130px;
    text-align: center;

    .block-dots();
    background-color: @color-light-blue;

    .block__image {
      display: none;

      @media (min-width: @screen-tablet) {
        display: block;
        position: absolute;
      }

      &--left {
        top: 180px;
        left: -170px
      }

      &--right {
        bottom: 170px;
        right: -230px;
        transform: rotate(7deg);
      }

    }

  }
  
  &--story {
    padding-top: @block-padding;
    padding-bottom: @block-padding;

    margin-top: -10px;
    margin-bottom: 100px;

    .block-dots();
    background-color: @yellow-block-light-background;

    .block__content {
      margin-bottom: 20px;

      @media (min-width: @screen-desktop) {
        width: 525px;
      }
    }

    .block__image {
      text-align: center;

      @media (min-width: @screen-desktop) {
        margin: 0 20px;
        position: absolute;
        right: 0;
      }

    }

  }
  
  &--flag {
    padding-top: 100px;
    padding-bottom: 70px;
    .block-dots();
    background-color: @blue-block-light-background;

    .block__image {
      position: absolute;
      bottom: -245px
    }

  }
}