blockquote {
  position: relative;
  padding: 20px 70px;
  margin: 0 55px 80px;

  border: 2px solid @color-blue;
  border-radius: @button-border-radius;

  p {
    margin: 0;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 66px;
    height: 66px;

    background: @color-yellow;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    background: url(../images/quotes.svg) @color-yellow no-repeat center;
    background-size: 37px 26px;
  }

  &::before {
    bottom: -33px;
    left: -33px;
  }

  &::after {
    top: -33px;
    right: -33px;
    transform: rotate(180deg);
  }

}