.breadcrumbs {
  .list-inline(0px);
  margin-bottom: 0;

  li::after {
    .fa-icon();
    content: '\f054';
    margin-left: 7px;
    font-size: 14px;
  }

  li:last-child::after {
    display: none;
  }

}