button {
  margin: 0;
  padding: 0;
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;

  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  background: none;
  white-space: nowrap;

  color: #FFF;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: @button-border-radius;
  }

  // Visual
  span {
    display: inline-block;
    padding: @button-padding;

    border: 2px solid @button-border;
    border-radius: @button-border-radius;

    font-size: 14px;
    font-weight: 500;
  }

  .fa {
    margin-left: 0.5em;
  }

  &:hover span {
    color: @color-orange;
  }

}

.button--transparent {
  color: @color-blue;
}

.button--orange {
  &::before {
    background: @color-orange;

    left: 4px;
    transform: rotate(2deg);
  }

  &:hover {

    span {
      color: #FFF;
    }

    &::before {
      left: 0;
      transform: none;
    }

  }

}

.button--white {
  color: @color-blue;

  &::before {
    background: #FFF;
    top: 0px;
    left: 4px;
    transform: rotate(-1deg);
  }

}

.button--yellow {
  color: @color-blue;

  &::before {
    background: @color-yellow;
    top: 2px;
    left: 4px;
    transform: rotate(-1deg);
  }
}

.button--small {

}

.button--large {
  span {
    padding: @button-large-padding;
    font-size: 16px;
  }
}

.button--round {

  .fa {
    margin: 0;
  }

  span, &::before {
    border-radius: 50%;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &::before {
    top: -3px;
    left: -4px;
  }

}

.button--long span {
  padding-left: 50px;
  padding-right: 50px;
}