.donate-bar {
  position: fixed;
  width: 100%;
  bottom: 20px;
  z-index: 100;
  text-align: center;

  transform: translateY(150%);
  transition: transform .3s;

  &.sticky {
    transform: translateY(0);
  }

  &__content {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    vertical-align: middle;

    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    font-size: 18px;
    color: @color-blue;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      left: 2px;
      top: 2px;
      width: calc(~"100% + 2px");
      height: calc(~"100% + 2px");

      background: @color-yellow;
      border-radius: @button-border-radius;
    }

  }

  &__amount {
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 20px;
    line-height: 1.2;

    font-family: @font-family-heading;
    font-size: 30px;
    color: @color-orange;
  }

}