@font-face {font-family: 'KGSecondChancesSolid';src: url('../fonts/2FBC6A_0_0.eot');src: url('../fonts/2FBC6A_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2FBC6A_0_0.woff2') format('woff2'),url('../fonts/2FBC6A_0_0.woff') format('woff'),url('../fonts/2FBC6A_0_0.ttf') format('truetype');}
