.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    border-radius: @button-border-radius;
    transform: rotate(-1deg);
  }

}

.form-control {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 36px;
  //padding: @padding-base-vertical @padding-base-horizontal;
  padding: 0 10px;
  font-size: 14px;
  line-height: @line-height-base;
  color: @color-blue;
  border: 2px solid @color-blue;
  border-radius: @button-border-radius;
  background: transparent;
  outline: 0;

  &:focus {
    border-color: @color-orange;
  }

  // Placeholder
  //.placeholder();

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }

}
