.homepage-posts {
  padding-top: 60px;
  padding-bottom: 40px;

  h2 {
    margin-bottom: 50px;
  }

}

.homepage-stories {
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;

  &::before {
    content: '';
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    background: #FFF;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    transform: rotate(-0.5deg);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    right: -25px;
    bottom: -40px;
    background: #FFF;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    z-index: -2;
  }

  .story__tag {
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
  }

  .story__image {

  }

  .story__content {
    padding: 20px;
  }

}
