.frame-embed {
  position: relative;
  overflow: visible;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border: 2px solid @color-blue;
    border-radius: @button-border-radius;

    transform: rotate(-1deg);

    pointer-events: none;
  }

}