.note {

  p {
    margin: 0;
  }

  &--block {
    position: relative;
    padding: 20px;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    background: #FFF;
    font-size: 15px;
    transform: translateY(50%);

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 10px;
      height: 20px;

      border: 2px solid @color-blue;
      background: #FFF;

      transform: translateY(-50%);
    }

    &::before {
      left: -10px;

      border-right: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &::after {
      right: -10px;
      border-left: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  }

  &--sticky {
    position: relative;
    padding: 30px 120px;
    transform: translateY(50%);

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-radius: @button-border-radius;
      border: 2px solid @color-blue;
      transform: rotate(-0.5deg);
    }

    &::before {
      //width: calc(~"100% - 100px");
      background: @color-yellow;

      z-index: -2;
      left: 50px;
      right: 50px;
      height: 100%;
    }

    &::after {
      background: #FFF;
      z-index: -1;
      left: 65px;
      right: 65px;
      top: 15px;
      height: calc(~"100% - 30px");
    }

  }

  &--homepage {
    margin: 0 55px;
    text-align: center;
  }

}