.frame-image {
  display: block;
  position: relative;
  margin-bottom: 35px;

  img  {
    transform: rotate(-1deg);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    transform: rotate(-1.5deg);
  }

  &__counter {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -15px;
    left: -10px;
    width: 60px;
    height: 60px;
    line-height: 60px;

    text-align: center;
    font-family: @font-family-heading;
    font-size: 30px;
    color: @color-orange;
    background: @color-yellow;
    border-radius: 50%;

    &::after {
      content: '';
      position: absolute;
      left: 1px;
      width: 63px;
      height: 63px;
      border: 2px solid @color-blue;
      border-radius: 50%;
    }

  }

}