ul.pagination {
  .list-unstyled();


  li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  span, a {
    display: block;
    padding: 6px 14px;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
  }

  a {
    display: block;
  }

  span {
    position: relative;
    z-index: 2;
  }

  li.active {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: @color-yellow;
      border-radius: @button-border-radius;

      transform: rotate(4deg);
      transform-origin: bottom left;
    }
  }

  .fa {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

}