.post {
  padding: @post-padding;
  padding-right: 25px;
  margin-bottom: @grid-gutter-width;

  border-radius: @post-border-radius;
  background: @color-light-yellow;

  &__image {
    margin: -@post-padding;
    margin-right: 0;

    border: 2px solid @color-blue;
    border-radius: @post-border-radius;

    transform: rotate(-1.5deg);

    img {
      transform: rotate(-1deg);
    }
  }

  &__date {
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
    color: #999999;
  }

}