.site-header {
  position: relative;
  z-index: 10;
  .clearfix;

  &__logo {
    display: inline-block;
    float: left;

    @media (min-width: @screen-desktop) {
      margin-top: -50px;
    }

  }

  &__contribute {
    display: inline-block;
    float: right;
    margin-top: 40px;
    text-align: right;

    @media (min-width: @screen-desktop) {
      margin-top: 0;
    }

  }

  &__navbar {
    display: block;
    float: left;
    width: 100%;

    ul {
      .list-unstyled();
      margin-bottom: 0;
      text-align: left;

      li.active a {
        color: @color-orange;
      }
    }

    @media (min-width: @screen-tablet) {
      &__toggle {
        display: none;
      }

      ul {
        margin-left: -15px;
        margin-right: -15px;

        text-align: center;

        li {
          display: inline-block;
          margin-left: 15px;
          margin-right: 15px;
        }

      }
    }


    @media (min-width: @screen-desktop) {
      width: auto;
      float: right;

      ul {
        text-align: right;
        line-height: 55px;
        margin-right: 15px;
      }

    }


  }

  /*
  .clearfix();
  margin-bottom: 30px;

  &__logo {
    float: left;
    width: 20%;
    margin-top: -100px;
  }

  &__nav {
    float: right;
    width: 80%;
    text-align: right;

    ul {
      display: inline-block;
      .list-inline(15px);
      margin-bottom: 0;

      text-align: right;

      li.active a {
        color: @color-orange;
      }

    }

  }
  */

}