.stats {
  padding-bottom: 40px;
  text-align: left;

  &__number {
    color: #334d7e;
    font-family: "KGSecondChancesSolid";
    font-size: 36px
  }

  &__cell {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    margin-right: -5px;
    margin-bottom: 20px;

    &__image {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
    }

    &__content {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }

    @media (min-width: @screen-sm-min) {
      width: 25%;

      &__image, &__content {
        display: block;
        text-align: center;
      }

      &__image {
        margin: 0 0 20px 0;
      }

    }
  }

}