.support-blocks {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
  width: 100%;

  img {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 15px;
    color: @color-blue;
    font-family: @font-family-heading;
    font-size: 24px;
  }

  &__cell {
    position: relative;
    display: table-cell;
    width: 2%;
    padding: 20px 10px;
    vertical-align: middle;

    background: #FFF;
    border: 2px solid @color-blue;
    border-radius: @button-border-radius;
    text-align: center;

    &--button {
      padding-bottom: 90px;
    }

    &__content {
      vertical-align: middle;
    }

    &__button {
      position: absolute;
      bottom: 25px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    &__image {
      img {
        margin-bottom: 0;
        transform: rotate(2deg);
      }
    }
  }

}