.tag {
  position: relative;
  display: inline-block;
  padding: 4px 25px 6px 5px;
  line-height: 1;

  background: #989898;
  border: 2px solid @color-blue;
  border-top-left-radius: @button-border-radius;
  border-bottom-left-radius: @button-border-radius;

  &__content {
    vertical-align: middle;
    font-size: 12px;
    color: #FFF;

    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 10px;

      border: 2px solid @color-blue;
      border-radius: 50%;
    }

  }

  &::after, &::before {
    content: '';
    position: absolute;
    border-style: solid;
  }

  &::after {
    top: -2px;
    right: 0;
    border-width: 15px 15px 15px 0;
    z-index: 1;
    border-color: transparent @color-blue transparent transparent;
  }

  &::before {
    top: -1px;
    right: -2px;
    border-width: 14px 14px 14px 0;

    z-index: 2;
  }

  &--yellow {
    margin-bottom: 15px;

    &::before {
      border-color: transparent #ffe63a transparent transparent;
    }

    .tag__content::before {
      background: @color-yellow;
      box-shadow: 1px 1px 1px @color-yellow;
    }

  }

  &--white {
    margin: 10px 0;

    &::before {
      border-color: transparent #fff transparent transparent;
    }

    .tag__content::before {
      background: #FFF;
      box-shadow: 1px 1px 1px #FFF;
    }

  }

}