.team-member {
  padding-bottom: 20px;
  text-align: center;

  img {
    margin-bottom: 20px;
  }

  figcaption {
    text-align: left;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    color: @color-orange;

    &:hover {
      color: @color-blue;
    }

  }

}