.top-nav {
  position: relative;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: @screen-tablet) {
    text-align: right;
  }

  nav {
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      left: -7px;
      top: -5px;
      right: -2px;
      bottom: 3px;
      z-index: 1;

      background: @color-yellow;

      transform: rotate(1deg);
    }
  }

  ul {
    .list-inline();
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    padding: 10px 14px;

    border: 2px solid @color-blue;
    border-top: 0;
    border-bottom-left-radius: @button-border-radius;
    border-bottom-right-radius: @button-border-radius;

    li {
      font-size: 12px;

      &:first-child::after {
        content: '|';
        margin-left: 15px;
      }
    }

    a {
      text-transform: uppercase;
    }

  }

}