h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: @line-height-small;
}

h1 {
  font-family: @font-family-heading;
  font-size: 58px;
  color: @color-blue;
  font-weight: normal;
  padding-top: 20px;

  span {
    color: @color-orange;
  }

}

h2 {
  margin-bottom: 20px;
  color: @color-blue;
  font-family: @font-family-heading;
  font-size: 36px;
  line-height: @line-height-base;
}

h2.marquee {
  display: inline-block;
  padding: 20px 60px 70px;
  background: url(../images/marquee.svg) no-repeat top center;
  background-size: contain;
}

h3 {
  margin-bottom: 15px;
  color: @color-blue;
  font-family: @font-family-heading;
  font-size: 24px;
}

h4 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
}

h5 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: normal;
}

p {
  margin: 0;
  margin-bottom: 30px;
  line-height: @line-height-base;
}

b, strong {
  color: @color-blue;
}

small, .text-small {
  font-size: 80%;
}
.text-big {
  font-size: 24px;
}
.text-medium {
  font-weight: 500;
}

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-blue {
  color: @color-blue;
}
.text-orange {
  color: @color-orange;
}
.text-muted {
  color: #4D4D4E;
  opacity: .5;
}

@media (min-width: @screen-desktop) {
  .desktop-text-center {
    text-align: center;
  }
}

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline(@spacing: 5px) {
  .list-unstyled();
  margin-left: -@spacing;
  margin-right: -@spacing;

  > li {
    display: inline-block;
    padding-left: @spacing;
    padding-right: @spacing;
  }
}

.list-inline {
  .list-inline();
}

ul {
  margin: 0;
  margin-bottom: 20px;
}