//== Colors
@color-blue: #334D7E;
@color-light-blue: #A3C1E2;
@color-light-blue-semi: rgba(163, 193, 226, 0.5);
@color-light-blue-2: #CFE0F1;
@color-orange: #E36431;
@color-light-orange: #FFD797;

@color-yellow: #FFD900;
@color-yellow-semi: rgba(255,216,0,0.5);
@color-light-yellow: #FFED94;
@color-light-yellow-2: #FFE63A;

@body-bg: @color-blue;
@text-color: #4D4D4D;
@link-color: @color-blue;
@link-hover-color: @color-orange;

//== Typography
@font-family-base: "Work Sans", Arial, sans-serif;
@font-family-heading: "KGSecondChancesSolid";
@font-size-base: 16px;
@line-height-base: 1.5;
@line-height-small: 1.3;
@line-height-large: 1.5;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (960px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      @container-desktop;
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;

//== Buttons
@button-border: @color-blue;
@button-border-radius: 4px;
@button-padding: 7px 12px;
@button-large-padding: 13px 14px;

//== Teasers
@block-padding: 75px;
@blue-block-light-background: @color-light-blue-2;
@yellow-block-light-background: @color-light-yellow-2;

//== Posts
@post-padding: 30px;
@post-border-radius: 4px;